<div class="leftPanel">
  <article class="leftpanel-header">
    <h3>Project Management</h3>
    <div class="leftpanel-wrapper">
      <div>
        <i class="pi pi-user"></i>
      </div>
      <div>
        <span>Admin</span><br>
        <span>Logout</span>
      </div>
    </div>
    <hr>
  </article>

  <ul class="list-group">
    <li class="list-group-item" routerLink="/"> <i class="pi pi-cog"></i> Dashboard</li>
    <li class="list-group-item" routerLink="/resources"> <i class="pi pi-user"></i> Resources</li>
    <li class="list-group-item" routerLink="/tasks"><i class="pi pi-chart-bar"></i> Tasks</li>
  </ul>
</div>